<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div>AAAAAAAAAAAA</div>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <img alt="ICONPROFILE" src="assets/icon/mudkip.jpg" class="profile-image">
        <ion-card-subtitle>Informacion del usuario</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Nombres" type="text" placeholder="Ingrese nombres"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Apellidos" type="text" placeholder="Ingrese apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Edad" type="number" placeholder="Ingrese edad"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Direccion Sede DuocUC" type="text" placeholder="Ingrese direccion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Fecha de Nacimiento</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

  <ion-button expand="full" shape="round" color="warning" [routerLink]="['/login']">
    DESCONECTAR
  </ion-button>
</ion-content>