<ion-menu [type]="menuType" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>OPCIONES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-menu-toggle>
    </ion-menu-toggle>

      <ion-button expand="block" shape="round" color="secondary">
        DESCARGAR APP
      </ion-button>
      <ion-button expand="full" shape="round" color="secondary">
        SALIR
      </ion-button>
  </ion-content>
</div>
